= form_for @item, local: true, html: { class: 'js_item-form' } do |f|
  - if @item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@item.errors.count, "error")} prohibited this item from being saved:"
      %ul
        - @item.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    .previews
      - if @item.persisted?
        - @item.photoes.each.with_index(1) do |photo,i|
          .js_item-preview{ data: {index: i} }
            = image_tag photo, height: 100, width: 100
            .btn_wrapper
              %label.js_item-edit{for: "file#{i}"} 編集
              %span.js_item-delete{data: {index: i}} 削除
      = f.label :photoes, "ドラッグ＆ドロップ", class: "js_item-label previews__new-label"
    .photo-inputs
      - if @item.persisted?
        - @item.photoes.each.with_index(1) do |photo,i|
          = f.file_field :photoes, name: 'item[photoes][]', class: 'js_item-file', data: {index: i, id: photo.id }, id: "file#{i}"
      = f.file_field :photoes, name: 'item[photoes][]', class: 'js_item-file'
  .actions
    = f.submit 'Save'
