<div class="content">
  <% product.images.each do |image| %>
  <%= image_tag "#{image.image}" %>
  <% end %>
  <p>商品名:<%= product.name %></p>
  <p>商品説明:</p>
  <%= product.description%>
  <p>価格：<%= product.price %>円</p>
  <p>取引状況：<%= product.status_i18n %></p>
  <p>発送方法：<%= product.delivery_way.name %></p>
  <p>配送先：<%= product.prefecture.name %></p>
  <%= link_to '編集', edit_product_path(product) %>
  <%= link_to '削除', product_path(product), method: :delete %>
</div>

