.content
  = image_tag product.images.first.image.url
  %p
    商品名:#{product.name}
  %p
    価格：#{product.price}円
  %div
    %div= product.category.root.name
    %div= product.category.parent.name
    %div= product.category.name
  = link_to '編集', edit_product_path(product)
  = link_to '削除', product_path(product), method: :delete
  %hr/
