%div
  = search_form_for @q, url: search_products_path do |f|
    = f.label :name_cont, '商品名'
    = f.text_field :name_cont, {}
    = f.submit
%div
  %a.btn{href: new_product_path} Product出品
  %a.btn{href: new_item_path} Item出品
.contents
  = render @products
